.tippy-box[data-theme~='custom'] {
  background-color: #502665;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  border-radius: 6px;
  padding: 4px 6px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.tippy-box[data-theme~='custom'] .tippy-content {
  padding: 6px 8px;
}

/* SETA */
.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #502665;
}

.tippy-box[data-theme~='custom'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #502665;
}
